.cocktail {
  &__desc{
    @apply overflow-hidden;
  }

  &__picture{
    @apply h-full object-cover;
  }

  &__info {
    padding: 20px 33px;
  }

  &__recipe {
    @apply absolute z-50 text-white bg-blue;
    left: 50%;
    transform: translateX(-50%);
    top: -10%;
    padding: 40px;
  }
}
