.drink-slide {
  &__picture {
    @apply h-full w-full object-cover object-center;
  }

  &__bottle {
    @apply absolute absolute min-h-screen z-10;
    height: 100%;
    top: -55px;
  }

  &__dec-wrap {
  }

  &__title {
    @apply inline-block font-normal text-white bg-blue/88;
    font-size: 36px;
    line-height: 44px;
    padding: 18px 20px;
  }

  &__desc {
    @apply text-blue bg-white/88;
    padding: 20px;
  }

  &__link {
    @apply inline-block no-underline text-white;
    font-size: 20px;
    line-height: 24px;
    margin: 20px 20px 0 0;
    padding: 11px 20px;
  }
}
