.header {
  &__navigation {
    grid-template-columns: 1fr min-content;

    @include _md {
      grid-template-columns: 1fr min-content min-content;
    }

    @include _lg {
      grid-template-columns: 1fr max-content 1fr;
    }
  }

  &__logo {

  }

  &__mob-btn {
    &:before, &:after {
      content: '';
      @apply block w-[30px] h-[2px] rounded-[2px] bg-blue mx-auto;
    }

    &:before {
      @apply mb-[6px];
    }

    &.--active {
      &:before, &:after {
        @apply absolute top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4  rotate-45;
      }

      &:before {
        @apply mb-0 -rotate-45;
      }
    }
  }

  &__menu {

  }

  &__drinks {
    label {
      @apply mx-x px-2x py-[5px];
    }
  }
}
