.list-drinks {
  &__part-one {
    height: calc(100vh - 60px);

    @include _lg {
      height: calc(100vh - 55px);
    }
  }
  &__part-two {
    @include _lg {
      height: calc(100vh - 55px);
    }
  }

  &__info-wrap {
    @apply absolute;
    transform: translateX(calc(50% - #{$button-circle-size / 4}));
    padding: 0 10px;
    max-width: 780px;
    width: calc(100% - #{$button-circle-size / 2});
    bottom: 40px;
  }
}
