@import "../css/base.css";

@import "variables";
@import "mixins";

@import "close";
@import "drink-slide";
@import "header";
@import "footer";
@import "list-drinks";
@import "main";
@import "mob-menu";
@import "modal";
@import "page";

/** Second screen */
@import "sku";

/** Third screen */
@import "cocktails";
@import "cocktail";
@import "recipe";

/** Fourth screen */
@import "history";

:root {
  --header-height: 60px;
  --button-circle-size: 200px;


  @include _sm {
    --button-circle-size: 250px;
  }

  @include _md {
    --button-circle-size: 350px;
  }

  @include _xl {
    --header-height: 55px;
    --button-circle-size: 400px;
  }

  @include _2xl {
    --button-circle-size: 500px;
  }
}

.nav-arrow {
  @apply block border-none bg-white/0 bg-no-repeat ;
  background-image: url("/images/icons/nav-arrow-blue.svg");
  width: 21px;
  height: 65px;

  &.--circle {
    @apply bg-blue rounded-r-full disabled:bg-none;
    background-image: url("/images/icons/nav-arrow-white.svg");
    background-size: 14px 42px;
    width: calc(var(--button-circle-size) / 2);
    height: var(--button-circle-size);
    background-position: 80% center;

    @include _lg {
      background-size: 21px 65px;
    }
  }
}



input#sparkling:checked ~ header [for='sparkling'],
input#vermouth:checked ~ header [for='vermouth']{
  @apply bg-red border-red text-white pointer-events-none cursor-default;
}


input#sparkling:checked ~ main [data-drink='sparkling'],
input#vermouth:checked ~ main [data-drink='vermouth']{
  @apply block;
}

.container {
  @apply mx-auto max-w-screen-xl px-x;
}
