@import "base.css";

.nav-arrow {
  @apply block border-none bg-white/0 disabled:invisible;
  background-image: url("/images/nav-arrow.svg");
  width: 21px;
  height: 65px;
}

.--forward {

}
.--backward {
  @apply rotate-180;
}

.--circle {
  width: 477px;
  height: 477px;
}


.close {

}

input#sparkling:checked ~ .main-header [for='sparkling'],
input#vermouth:checked ~ .main-header [for='vermouth']{
  @apply bg-red border-red text-white pointer-events-none cursor-default;
}

