@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply font-sans;
}

/* helpers */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

[hidden] {
  display: none;
}

.image-background {
  @apply bg-center bg-no-repeat bg-cover;
}

.link {
  @apply no-underline hover:underline;
}

input#sparkling:checked ~ .main-header [for='sparkling'] {
  @apply bg-red text-white active:bg-white;
}

input#vermouth:checked ~ .main-header [for='vermouth'] {
  @apply bg-red text-white active:bg-white;
}
